/*div{
background-color: darkorange;
}



div{
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 5px solid black;
    margin: 10px;
}
#staticbox{
    background-color: aqua;
    position: static;
}
#relativebox{
    background-color: greenyellow;
    position: relative;
    top: 19px;
    }
#absolutebox{
background-color: darkgoldenrod;
position: absolute;
top: 2000px;
}
#fixedbox{
background-color: chocolate;
position: fixed;
left: 500px;
}

#stick{
    background-color: peachpuff;
    position: sticky;
        top: 20px;
} 

section div{
    background-color: hotpink;
    width: 50px;
    height: 50px;
    margin: 20px 0;
    transition: margin-left 3s;
}

section:hover div{
    margin-left: 500px;
    
}



div:nth-of-type(1){
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

}

div:nth-of-type(2){
transition-timing-function: linear;
}
div:nth-last-of-type(3){
transition-timing-function: ease-in-out;
}
div:nth-last-of-type(4){
transition-timing-function: ease-out;
}
div:nth-of-type(5){
    transition-timing-function: step-end;
}

h1{
    width: 200px;
    height: 50px;
    text-align: center;
    border: 5px solid gray;
    font-size: small;
    margin-left: 30%;
}

h1:nth-of-type(1){
background-color: lightyellow;
transform: rotate(30deg);
}
h1:nth-of-type(2) {
    background-color: lightblue;
    transform: scaleY(0.5);
}
h1:nth-of-type(3) {
    background-color: lightcoral;
    transform: translatex(200px);
}
h1:nth-of-type(4) {
    background-color: lightgreen;
    transform: skew(20deg);
}

body{
    font-family: 'roboto',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #151b29;
}

button{
background: none;
color: #ffa260;
border: 2px solid;
padding: 1em 2em; 
font-size: 1em;
transition: 0.2s;
}

button:hover{
    color: white;
    border-color: #f1ff5c;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c ;
    transform: translatey(-0.25em);

}
*/