#flexing {
    width: 90%;
    height: 250px;
    margin: 0 auto;
    border: 5px solid silver;
    background-color:darkgray;
    display: flex;
    
}
div:nth-of-type(1){
    flex-basis: 200px;
    flex-shrink: 5;
    width: 20px;
}

#flexing div{
    width: 100px;
    height: 100px;
}

h1{
    text-align: center;
}

h2{
    color: blue;
    text-align: center;
}

div{
    width: 60%;
    background-color: blueviolet;
    height: 30%;
}


   